<!DOCTYPE html>
<html>
    <head>
        <title>Terry's Basketball Blog</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="Terry Parrish">
        <meta name="description" content="Terry's Basketball Blog" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" >
        <link rel="stylesheet" href="./../../css/blog.css">
        
    </head>
    <body>
        <div class="container">
            <div class="header box">
                <h1>Knicks Blog</h1>
                <a href="./../../index.html">Home</a>
            </div>
            <div class="content box">
                <div id="nestedGrid"></div>
            </div>
            <div class="footer box">
                <h5 class="card-title">Blog Template build by Terry Parrish</h5>
            </div>
        </div>
    </body>
</html>