/* Anything smaller than first breakpoint 600px */
@media(max-width:599px) {
    .container {
        display: grid;
        margin: auto;
        justify-content: center;
        grid-template-columns: 60vw repeat(8, 1fr);
        grid-template-rows: 13vh 75vh 8vh;
        grid-template-areas: "hd"
                            "ct"
                            "ft"; 
    }

    #blog-cards {
        display: grid;
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: repeat(4, 375px);
        grid-gap: 16px;
        padding: 16px;;
        overflow: scroll;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .avatar-circle {
        width: 50px;
        height: 50px;
        background-color: plum;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }
    
    .initials {
        position: relative;
        top: 12px; /* 25% of parent */
        font-size: 25px; /* 50% of parent */
        line-height: 25px; /* 50% of parent */
        color: #fff;
        font-family: "Courier New", monospace;
        font-weight: bold;
    }

    h1, h2, h3 {
        margin: 0px;
        padding: 0px;
        font-size: .8em;
    }

    div.card-content > p {
        font-size: .9em;
    }
}

/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    .container {
        display: grid;
        justify-content: center;
        padding: 20px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 13vh 75vh 8vh;
        grid-template-areas: "hd hd hd hd hd hd hd hd hd"
                             "ct ct ct ct ct ct ct ct ct"
                             "ft ft ft ft ft ft ft ft ft";
    }

    #blog-cards {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(4, 375px);
        grid-gap: 16px;
        padding: 16px;;
        overflow: scroll;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .avatar-circle {
        width: 90px;
        height: 90px;
        background-color: plum;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }
    
    .initials {
        position: relative;
        top: 30px; /* 25% of parent */
        font-size: 30px; /* 50% of parent */
        line-height: 30px; /* 50% of parent */
        color: #fff;
        font-family: "Courier New", monospace;
        font-weight: bold;
    }

    h1, h2, h3 {
        margin: 0px;
        padding: 0px;
    }

    div.card-content > p {
        font-size: 1.1em;
    }
}

/* Large Screens */
@media (min-width:901px) {
    .container {
        display: grid;
        justify-content: center;
        padding: 20px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 13vh 75vh 8vh;
        grid-template-areas: "hd hd hd hd hd hd hd hd hd"
                             "ct ct ct ct ct ct ct ct ct"
                             "ft ft ft ft ft ft ft ft ft";
    }

    #blog-cards {
        display: grid;
        grid-template-columns: repeat(5, 350px);
        grid-template-rows: repeat(4, 375px);
        grid-gap: 16px;
        padding: 16px;;
        overflow: scroll;
    }

    .logo {
        width: 125px;
        height: 125px;
    }

    .avatar-circle {
        width: 100px;
        height: 100px;
        background-color: plum;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }
    
    .initials {
        position: relative;
        top: 25px; /* 25% of parent */
        font-size: 50px; /* 50% of parent */
        line-height: 50px; /* 50% of parent */
        color: #fff;
        font-family: "Courier New", monospace;
        font-weight: bold;
    }

    h1, h2, h3 {
        margin: 0px;
        padding: 0px;
    }
}

header {
    grid-area: hd;
    flex-direction: row;
    place-items: center center;
    background-color: #957BBE;
    color: white;           
}

.content {
    grid-area: ct;
    place-content: center;
    background-color: white;
}

footer {
    display: grid; 
    grid-area: ft;
    place-content: center center;
    place-items: center center;
    background-color: #957BBE;
    color: white;           
}

.blog-card {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "avat ch" "cc cc" "cf cf";
    border: 3px solid plum;
    border-radius: 16px;
    padding: .5rem;
}

.avatar {
    grid-area: avat;
    flex-direction: row;
    display: grid;
    justify-content: start;
    align-content: center;
}

.card-title {
    font-style: italic;
    text-decoration: underline;
    display: grid;
    font-weight: bold;
    place-items: center;
}

.card-header {
    grid-area: ch;
    display: grid;
    justify-content: center;
    align-content: center;
}

.card-content {
    grid-area: cc;
    padding: 8px;
}

.card-footer {
    grid-area: cf;
    justify-content: center;
    align-content: center;
    display: grid;  
}