@import '../css/dims/max-width-600px.css';
@import '../css/dims/min-width-601px.css';
@import '../css/dims/min-width-901px.css';

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9FFFA;
}

.box {
    display: flex;
    border: 1px solid #DDDDDD;
}

header {
    grid-area: hd;
    place-items: center center;
    background-color: #957BBE;
    color: white;
}

.sidebar {
    grid-area: sb;
    flex-direction: column;
    background-color: #EEEEEE !important;
    color: black;
}

.content {
    grid-area: ct;
    place-content: center;
    background-color: white;
    overflow: scroll;
}

footer {
    display: grid; 
    grid-area: ft;
    place-content: center center;
    place-items: center center;
    background-color: #957BBE;
    color: white;           
}

.team-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
    min-width: 200px;
    border-radius: 8px;
}

h4.card-title {
    font-style: italic;
    text-decoration: underline;
    display: grid;
    font-weight: bold;
    justify-content: center; 
    align-content: center;
}

.card-content {
    padding: 4px;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

figcaption {
    display: grid;
    font-size: .8em;
    justify-content: center; 
    align-content: center;
}

button {
    display: grid;
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
    font-size: .9em;
    margin: auto;
    margin-bottom: 16px;
  }

.team-size {
    width: 150px;
    height: 150px;
    margin: auto;
}

.atlanta_hawks {
    background-image: url('../img/atlanta_hawks_vector.png');
    background-size: cover;
}

.boston_celtics {
    background-image: url('../img/boston_celtics_vector.png');
    background-size: cover;
}

.brooklyn_nets {
    background-image: url('../img/brooklyn_nets_vector.png');
    background-size: cover;
}

.charlotte_hornets {
    background-image: url('../img/charlotte_hornets_vector.png');
    background-size: cover;  
}

.chicago_bulls {
    background-image: url('../img/chicago_bulls_vector.png');
    background-size: cover;
}

.cleveland_cavaliers {
    background-image: url('../img/cleveland_cavaliers_vector.png');
    background-size: cover;
}

.dallas_mavericks {
    background-image: url('../img/dallas_mavericks_vector.png');
    background-size: cover; 
}

.denver_nuggets {
    background-image: url('../img/denver_nuggets_vector.png');
    background-size: cover; 
}

.detroit_pistons {
    background-image: url('../img/detroit_pistons_vector.png');
    background-size: cover;
}

.golden_state_warriors {
    background-image: url('../img/golden_state_warriors_vector.png');
    background-size: cover;
}

.houston_rockets {
    background-image: url('../img/houston_rockets_vector.png');
    background-size: cover; 
}

.indiana_pacers {
    background-image: url('../img/indiana_pacers_vector.png');
    background-size: cover; 
}

.los_angeles_lakers {
    background-image: url('../img/los_angeles_lakers_vector.png');
    background-size: cover;
}

.los_angeles_clippers {
    background-image: url('../img/los_angeles_clippers_vector.png');
    background-size: cover;
}

.memphis_grizzlies {
    background-image: url('../img/memphis_grizzlies_vector.png');
    background-size: cover;
}

.miami_heat {
    background-image: url('../img/miami_heat_vector.png');
    background-size: cover; 
}

.milwaukee_bucks {
    background-image: url('../img/milwaukee_bucks_vector.png');
    background-size: cover; 
}

.minnesota_timberwolves {
    background-image: url('../img/minnesota_timberwolves_vector.png');
    background-size: cover; 
}

.new_orleans_pelicans {
    background-image: url('../img/new_orleans_pelicans_vector.png');
    background-size: cover;
}

.new_york_knicks {
    background-image: url('../img/new_york_knicks_vector.png');
    background-size: cover;  
}

.oklahoma_city_thunder {
    background-image: url('../img/oklahoma_city_thunder_vector.png');
    background-size: cover; 
}

.orlando_magic {
    background-image: url('../img/orlando_magic_vector.png');
    background-size: cover;
}

.phoenix_suns {
    background-image: url('../img/phoenix_suns_vector.png');
    background-size: cover;
}

.portland_trail_blazers {
    background-image: url('../img/portland_trail_blazers_vector.png');
    background-size: cover;  
}

.sacramento_kings {
    background-image: url('../img/sacramento_kings_vector.png');
    background-size: cover; 
}

.san_antonio_spurs {
    background-image: url('../img/san_antonio_spurs_vector.png');
    background-size: cover;
}

.toronto_raptors {
    background-image: url('../img/toronto_raptors_vector.png');
    background-size: cover;
}

.utah_jazz {
    background-image: url('../img/utah_jazz_vector.png');
    background-size: cover;
}

.washington_wizards {
    background-image: url('../img/washington_wizards_vector.png');
    background-size: cover;  
}

.philadelphia_76ers {
    background-image: url('../img/philadelphia_76ers_vector.png');
    background-size: cover;   
}