/* Anything smaller than first breakpoint 600px */
@media(max-width:599px) {
    .container {
        display: grid;
        margin: auto;
        justify-content: center;
        grid-template-columns: 60vw repeat(8, 1fr);
        grid-template-rows: 30px 1fr;
        grid-template-areas: "hd"
                            "sb"
                            "ct"
                            "ft";
    }

    #team-cards {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
        grid-gap: 16px;
        padding: 16px;
    }

    #nba_conference_list {
        font-size: 1em;
    }

    h1#blog-header {
        margin: 8px;
        font-size: 1em;
    }

    h2#team-header {
        margin: 8px;
        font-size: 1em;
    }
}